<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="edu.spring.BoardMapper">

	<!-- SQL 문장들을 정의 -->
	<insert id="insertBoard">
		insert into ${tbl_board} 
		(${board.category}, ${board.title}, ${board.content}, ${board.userid})
		values (#{category}, #{title}, #{content}, #{userId})
	</insert>
	
	<delete id="deleteBoard">
		DELETE FROM ${tbl_board}
		WHERE ${board.bno} = #{bno}
	</delete>
	
	<update id="updateBoard">
		UPDATE ${tbl_board}
		SET ${board.title} = #{title}, 
			${board.content} = #{content},
			${board.regdate} = CURRENT_TIMESTAMP
		WHERE ${board.bno} = #{bno}
	</update>
	
	<update id="updateReplyCnt">
		UPDATE ${tbl_board} 
		SET ${board.replycnt} = ${board.replycnt} + #{increment}
		WHERE ${board.bno} = #{bno}
	</update>
	
	<update id ="updateReadCnt">
		UPDATE ${tbl_board}
		SET ${board.readcnt} = ${board.readcnt} + 1
		WHERE ${board.bno} = #{bno}
	</update>
	
	<select id = "selectAllBoard" resultType = "Board">
		SELECT * 
		FROM ${tbl_board}
		ORDER BY ${board.bno} DESC 	
	</select>
	
	<select id = "selectOneBoard" resultType = "Board">
		SELECT * 
		FROM ${tbl_board}
		WHERE ${board.bno} = #{bno} 	
	</select>

	<select id="selectBoardByCategory" resultType="Board">
		SELECT * FROM ${tbl_board}
		WHERE 
		<if test="category == 1">
			${board.category} = 1
		</if>
		<if test="category == 2">
			${board.category} = 2
		</if>
		<if test ="category == 3">
			${board.category} = 3
		</if>
		<if test ="category == 4">
			${board.category} = 4
		</if>
		<if test ="category == 5">
			${board.category} = 5
		</if>	
		<if test ="category == 6">
			${board.category} = 6
		</if>
		ORDER BY ${board.bno} DESC	
	</select>
	
	
</mapper>